/* Styles pour le formulaire */
.groupe {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

/* Styles pour le résultat */
.result {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

/* Styles pour l'en-tête */
header {
    background-color: #99e5f7;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
header img {
    width: 20px; /* Largeur souhaitée en pixels */
    height: auto; /* Hauteur automatique pour maintenir le rapport hauteur/largeur */
    margin-right: 20px; /* Marge à droite du logo pour l'espacement */
}
